
.sura-name-calligraphy {
    font-family: quran_karim_114 !important;
    font-size: 10rem;
    text-align: center;
    margin: -2.5rem 0 !important;
    direction: ltr; /*Otherwise, sura fil («) does not display*/
}

.sura-name-en {
    font-size: 1.5rem;
    text-align: center;
}

.bismillah-arabic {
    font-family: hafs;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
}

.selected-ayat {
    /*background-color: var(--selected-bg-color);*/
    color: var(--selected-font-color);
}

.navbar {
    background-color: var(--nav-bg-color);
}

.nav-title {
    font-size: 1.5rem;
    margin: 0 0.25rem;
    font-weight: normal;
}

.select {
    font-size: 1.25rem;
    padding: 0.25rem 0.75rem;
    margin: 0 0.75rem;
    border-radius: .5rem;
    background-color: var(--bg-color);
    color: var(--font-color);
}

.container {
    margin-top: 4rem !important;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

.rtl {
    direction: rtl !important;
}

.ltr {
    direction: ltr !important;
}

.ruku-header {
    font-size: 1rem;
    text-align: center;
    border: 1px solid;
    padding: 5px;
}

.quran-text {
    font-family: hafs;
    font-size: 2rem;
    text-align: justify;
}

.quran-translation {
    font-size: 1.1rem;
    line-height: 1.8rem;
    text-align: justify;
}

.translation-ayat-number {
    color: gray;
    border: 1px solid gray;
    border-radius: 25%;
    padding: 0 0.25rem;
    margin: 0 0.25rem;
}

@media screen and (max-width: 768px) {
    .nav-title {
        font-size: 1.2rem !important;
        margin: 0;
    }

    .btn {
        padding: 0 0.5rem 0.25rem 0.5rem !important;
    }

    .select {
        font-size: 1rem;
        padding: unset;
        margin: unset;
    }
}
