
.navbar {
    background-color: var(--nav-bg-color);
}

.nav-title {
    font-size: 1.5rem;
    margin: 0 0.25rem;
    padding: 0 0.75rem;
    font-weight: normal;
}

.select, .nav-select {
    font-size: 1.25rem;
    padding: 0.25rem 0.75rem;
    margin: 0 0.75rem;
    border-radius: .5rem;
    background-color: var(--bg-color);
    color: var(--font-color);
}

.offcanvas-backdrop {
    opacity: 0.25 !important;
}

@media (max-width: 768px) {
    .nav-title {
        font-size: 1.2rem !important;
        margin: 0;
    }

    .nav-btn {
        padding: 0 0.5rem 0.25rem 0.5rem !important;
    }

    .select, .nav-select {
        font-size: 1rem;
        padding: 0.13rem;
        margin: unset;
    }
}

@media (max-width: 576px) {
    .nav-select {
        max-width: 9rem;
    }
}
