:root {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #213547;
    --bg-color: #fff;
    --nav-bg-color: #ccc;
    --selected-bg-color: #e2edf9;
    --selected-font-color: #009a90;
}

@media (prefers-color-scheme: light) {
    [data-theme="auto"] {
        --primary-color: #302AE6;
        --secondary-color: #536390;
        --font-color: #213547;
        --bg-color: #fff;
        --nav-bg-color: #ccc;
        --selected-bg-color: #e2edf9;
        --selected-font-color: #009a90;
    }
}

[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: rgba(255, 255, 255, 0.87);
    --bg-color: #242424;
    --nav-bg-color: #000;
    --selected-bg-color: #212b35;
    --selected-font-color: #71c8d1;
}

@media (prefers-color-scheme: dark) {
    [data-theme="auto"] {
        --primary-color: #9A97F3;
        --secondary-color: #818cab;
        --font-color: rgba(255, 255, 255, 0.87);
        --bg-color: #242424;
        --nav-bg-color: #000;
        --selected-bg-color: #212b35;
        --selected-font-color: #71c8d1;
    }
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color-scheme: light dark;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--font-color);
}

.offcanvas-backdrop {
    opacity: 0.25 !important;
}

.theme-colored {
    background-color: var(--bg-color);
    color: var(--font-color);
}

    .theme-colored:hover, .theme-colored:active, .theme-colored:focus {
        background-color: var(--bg-color) !important;
        color: var(--font-color) !important;
    }

.bg-theme {
    background-color: var(--bg-color) !important;
}

.bg-theme-text {
    background-color: var(--font-color) !important;
}

.text-theme {
    color: var(--font-color) !important;
}

.hover-selection:hover {
    background-color: var(--selected-bg-color) !important;
    /*color: var(--selected-font-color) !important;*/
}
